:root {
  /* Primary Colors */
--primary-orange: #ff9900;
--primary-orange-hover: #ffb700;
--primary-orange-dark: #ff6c00;
--primary-gold: #ffd700;
--primary-yellow: #ffcc00;
--primary-bright-yellow: #ffc831;
}