.start-screen-card h1 {
  width: 100%;
  font-size: 35px;
  margin-bottom: 20px;
  color: #000000;
  text-shadow: 1px 1px var(--primary-gold);
}

.h1-no-margin {
  margin: 0 !important;
}

.startscreen-content h2 {
  font-size: 24px;
  margin-bottom: 40px;
  color: #000000;
  text-shadow: 1px 1px var(--primary-orange-hover);
}

.label {
    font-weight: bold;
}