@media only screen and (max-width: 780px) {
  canvas {
    width: 100%;
  }

  .start-screen-card {
    justify-content: center;
    width: 90%;
    height: 50vh;
    max-width: 100%;
    padding: 16px;
  }

  .start-screen-card > * {
    border-radius: 16px;
  }

  .game-mute-btn {
    top: 10px;
    right: 10px;
  }

  .start-screen-card h1 {
    margin: 0 !important;
  }

  .startscreen-buttons {
    flex-direction: row;
  }

  .startscreen-buttons button {
    width: 150px;
    height: 88px;
  }

  .mute-icon {
    width: 150px;
    height: 72px;
  }
  footer {
    display: none;
  }

  .desktop-mute-button {
    display: block;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }

  .game-mute-btn {
    top: 10px;
    right: 10px;
  }
}

/* Fullscreen Styles */
:fullscreen #canvas,
:-webkit-full-screen #canvas,
:-moz-full-screen #canvas {
  width: 100vw !important;
  height: 100vh !important;
  object-fit: contain !important;
}

:fullscreen body,
:-webkit-full-screen body,
:-moz-full-screen body {
  overflow: hidden !important;
  touch-action: manipulation !important;
}
