@media only screen and (max-width: 1200px) {

  .start-screen-card {
    justify-content: center;
    width: 90%;
    height: 50vh;
    max-width: 100%;
    padding: 16px;
  }

  .start-screen-card > * {
    border-radius: 16px;
  }

  .game-mute-btn {
    top: 10px;
    right: 10px;
  }

  .start-screen-card h1 {
    margin: 0 !important;
  }

  .startscreen-buttons {
    flex-direction: row;
  }

  .startscreen-buttons button {
    font-size: 18px;
    width: 150px;
    height: 88px;
  }

  .mute-icon {
    width: 132px;
    height: 72px;
  }

  footer {
    display: none;
  }

  #mobileBtnCenter {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    opacity: 0.5;
  }
}

@media only screen and (min-width: 1201px) {
  .mobile-controls {
    display: none !important;
  }

  .desktop-mute-button {
    display: block !important;
  }

  footer {
    display: block;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }

  .game-mute-btn {
    top: 10px;
    right: 10px;
  }
}

:fullscreen #canvas,
:-webkit-full-screen #canvas,
:-moz-full-screen #canvas {
  width: 100vw !important;
  height: 100vh !important;
  object-fit: contain !important;
}

:fullscreen body,
:-webkit-full-screen body,
:-moz-full-screen body {
  overflow: hidden !important;
  touch-action: manipulation !important;
}

@media screen and (max-width: 375px) and (max-height: 667px) {
  .mobile-mute-icon {
    display: none;
  }
}