/* === Startscreen Overlay === */
#startScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 11;
}

.start-screen-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 600px;
  max-width: 90%;
  color: #fff8dc;
  background-image: url("../assets/img/2_character_pepe/3_jump/J-36.png");
  background-size: cover;
  background-position: center;
  background-color: #fff;
  border: 6px solid var(--primary-gold);
  border-radius: 30px;
  padding: 16px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  text-align: center;
  animation: pop-in 0.6s ease-out;
  z-index: 2;
}

.start-screen-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 24px;
}

.start-screen-card > * {
  position: relative;
  z-index: 2;
}

.startscreen-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@keyframes pop-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
